<div class="container-fluid">
  <table class="col-12">
    <thead>
      <tr>
        <td>Title</td>
        <td>Release Date</td>
        <td>Genre(s)</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="films.length == 0">
        <td colspan="3">Nothing you dumb bitch</td>
      </tr>
      <ng-container *ngIf="films.length > 0">
        <tr *ngFor="let film of films">
          <td>{{ film.filmTitle }}</td>
          <td>{{ film.releaseDate }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div id="filmUploadFileDropDiv" class="center" hidden>
  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                 (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      Optional custom content that replaces the the entire default content.
      <button type="button" (click)="openFileSelector()">Browse Files</button>
    </ng-template>
  </ngx-file-drop>
  <div class="upload-table">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody class="upload-name-style">
        <tr *ngFor="let item of files; let i=index">
          <td><strong>{{ item.relativePath }}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<button type="button" class="btn btn-primary" (click)="openModal(template)">Open modal</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="filmForm" (ngSubmit)="onSubmit()">
      <label>
        Title:
        <input type="text" formControlName="filmTitle" required />
      </label>
      <label>
        Release Date:
        <input type="date" formControlName="releaseDate" required />
      </label>
      <br />
      <button type="submit" [disabled]="filmForm.invalid">
        Save
      </button>
    </form>
  </div>
</ng-template>
