<div class="container-fluid">
  <table class="col-12 table">
    <thead>
      <tr>
        <td colspan="4">
          <button type="button" class="btn btn-primary" style="float:right" (click)="openModal(filmTemplate)">Add Film</button>
        </td>
      </tr>
      <tr>
        <td>Title</td>
        <td>Release Date</td>
        <td>Genre(s)</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="films.length == 0">
        <td colspan="3">Looks like the archive is empty...may god help us all</td>
      </tr>
      <ng-container *ngIf="films.length > 0">
        <tr *ngFor="let film of films">
          <td>{{ film.filmTitle }}</td>
          <td>{{ film.releaseDate }}</td>
          <td *ngIf="film.genreList.length == 0">n/a</td>
          <td *ngIf="film.genreList.length > 0">
            <ng-container *ngFor="let genre of film.genreList; let i = index; let last = last">
              {{genre.genreName}}
              <span *ngIf="!last">, </span> <!-- add a comma between each genre name except for the last one -->
            </ng-container>
          </td>

          <td>
            <button type="button" class="btn btn-primary" (click)="showFilmDetails(film.filmId)">View</button>
            <button type="button" class="btn btn-secondary" (click)="openFilmUpdateForm(filmTemplate, film)">Edit</button>
            <button type="button" class="btn btn-danger" (click)="onDeleteFilm(film.filmId)">Delete</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<ng-template #filmTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="filmForm" (ngSubmit)="onSubmit()">

      <label>
        Title:
        <input type="text" formControlName="filmTitle" required />
      </label>
      <div class="row form-group">
        <label>
          Release Date:
          <input type="date" formControlName="releaseDate" required class="form-control" placeholder="selectedFilm?.releaseDate" />
        </label>
      </div>
      <div>
        <p>Genres: </p>
        <ng-container class="row" *ngFor="let genre of selectedGenres">
          <span>
            {{ genre.genreName }}
            <button type="button" class="btn-close" aria-label="Close" (click)="RemoveAssociatedGenre(genre)"></button>
          </span>
        </ng-container>
      </div>
      <br />
      <br />
      <ng-container class="row" *ngFor="let genre of unselectedGenres">
        <span>
          {{ genre.genreName }}
          <button type="button" class="btn-close" aria-label="Close" (click)="AddAssociatedGenre(genre)"></button>
        </span>
      </ng-container>
      <br />
      <button type="submit" [disabled]="filmForm.invalid">
        Save
      </button>
    </form>
  </div>
</ng-template>
