<div id="filmRoleDataGrid">
  <table class="table">
    <thead>
      <tr>
        <td colspan="3">
          <button type="button" class="btn btn-primary" style="float:right" (click)="openCreateFilmRoleForm(filmRoleTemplate)">+ Add Film Role</button>
        </td>
      </tr>
      <tr>
        <th>
          Film Role Name
        </th>
        <th>
          Description
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="filmRoles.length == 0">
        <tr>
          <td colspan="2">fuck you</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="filmRoles.length > 0">
        <tr *ngFor="let filmRole of filmRoles">
          <td class="col-sm-3">{{filmRole.filmRoleName}}</td>
          <td>{{filmRole.description}}</td>
          <td>
            <button type="button" class="btn btn-secondary" style="width:100%" (click)="openUpdateFilmRoleForm(filmRoleTemplate, filmRole)">
              Edit
            </button>
            <button type="button" class="btn btn-danger" style="width:100%" (click)="onDeleteFilmRole(filmRole.filmRoleId)">Delete</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<ng-template #filmRoleTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="filmRoleForm" (ngSubmit)="onFilmRoleSubmit()">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Role Name</label>
        <input class="form-control" placeholder="Test" formControlName="filmRoleName" >
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" type="text" formControlName="description" rows="3"></textarea>
      </div>
      <br />
      <button type="submit" class="btn btn-primary" [disabled]="filmRoleForm.invalid">
        Save
      </button>
    </form>
  </div>
</ng-template>
