<h1>{{targetFilm.filmTitle}}</h1>

<div class="row col-sm-12">
  <div class="col-sm-4" style="height:450px;background-position:left">
    <img src="../../assets/R.png" alt="Description of the image" style="width:100%">
  </div>
  <div class="col-sm-8">
    <h2>Real Film Title</h2>
    <h3>Small sub description</h3>
  </div>
</div>
<div>best star wars date ever</div>

<div>
  <ng-container *ngIf="targetFilm.filmPersonLinks.length > 0">
    <table>
        <tr *ngFor="let link of targetFilm.filmPersonLinks">
          <td>{{link.personLastName}}, {{link.personFirstName}}</td>
          <td>{{link.filmRoleName}}</td>
        </tr>
    </table>
  </ng-container>
</div>
